@font-face {
  	font-family: 'OpenSans';
    src:  url('../fonts/OpenSans/Open-Sans.ttf.woff') format('woff'),
    url('../fonts/OpenSans/Open-Sans.ttf.svg#Open-Sans') format('svg'),
    url('../fonts/OpenSans/Open-Sans.ttf.eot'),
    url('../fonts/OpenSans/Open-Sans.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
